a {
  text-decoration: none;
  color: #3f51b5;
}

.SearchForm {
  width: 100%;
  max-width: 970px;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.SearchForm div {
  flex: 1;
}

.SearchForm h3 {
  text-align: center;
  width: fit-content;
  margin: 0;
}

.SearchForm button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-color: #ccc;
  border-left: none;
  /* background: #4f61a5; */
}

.SearchForm fieldset {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-color: #ccc;
  border-right: none;
}

.SearchForm fieldset:focus-within {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-color: #ccc;
  border-right: none;
}

.SearchForm fieldset:focus {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.SearchForm input {
  color: #fff;
  /* background: #4f61a5; */
}
