body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f6f8fa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}

a {
  text-decoration: none;
  color: #3f51b5;
}

.nav-bar {
  margin-bottom: 20px;
}

.search-form {
  width: 100%;
  max-width: 970px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.search-form div {
  flex: 1;
}

.search-form > div {
  min-width: 300px;
}

.search-form h3 {
  text-align: center;
  width: fit-content;
  margin: 0;
}

.search-form button {
  border-radius: 0;
  border-left: none;
  background: #5f71b5;
  color: #fff;
}

.search-form button:hover {
  background: #6f81c5;
}

.search-form fieldset {
  border: none;
}

.search-form fieldset:focus-within {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-color: #ccc;
  border-right: none;
}

.search-form fieldset:focus {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.search-form input {
  color: #fff;
  background: #5f71b5;
}

.message-container {
  width: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 0.76);
  margin-top: 100px;
}

.message-container * {
  color: rgba(0, 0, 0, 0.76);
}

.message-container img {
  max-height: 25vh;
  color: rgba(0, 0, 0, 0.76);
}

.container {
  margin-top: 10px;
  display: flex;
  max-width: 970px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.repos-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  max-width: calc(100% + 5px);
}

.repo-card {
  min-width: 300px;
  max-width: 100%;
  margin-left: 5px;
  margin-bottom: 10px;
  flex: 1;
}

.user-wrapper {
  width: 100%;
  text-align: center;
}

.user-card {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.user-card .avatar {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.user-card div:nth-child(2) {
  flex: 1;
}

.user-card h2,
p {
  margin: 0;
}
